/* InvoiceDetailsPage.module.css */

.checkoutContainer {
  height: 100vh;
  width:100vw;
  font-family: "Roboto", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

.home {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 220px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2e0052;
  color: white;
  height: 55px;
  padding: 0 50px;
  margin-bottom: 0px;
  margin-left: 0px;
  width:290px
}

.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  padding: 0px 75px;
  padding-top: -100px;
  margin-top: -70px;
}

.menubar .leftSection {
  display: flex;
  align-items: center;
}

.menubar .leftSection img {
  width: 220px;
  margin-right: 10px;
  margin-left: -100px;
}

.menubar .leftSection a {
  margin-right: 20px;
  color: rgb(27, 6, 6);
  text-decoration: none;
}

.menuItem {
  display: flex;
  align-items: center;
  background-color: green;
  padding: 10px 20px;
  border-radius: 5px;
}

.menuItem img {
  width: 30px;
  margin-right: 10px;
}

.menuItem span {
  color: white;
  padding: 10px 20px;
}

.backToCartButton{
  color: #ffffff;
  background-color: #2E0052;
  width:200px;
  height: 40px;
  border-radius: 15px;
  font-size: 18px;
  margin-top: 20px;
}

.checkoutHeader {
  margin-top: 10px;
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 0px;
}

.checkoutSections {
  display: flex;
  flex-direction: column; /* Change to column layout */
  margin-top: 20px;
}


.invoiceLink{
  margin-left: -10px;
}

.orderSummaryBox {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  width: 320px;
  margin-left: 30px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.placeOrderButton1{
  background-color: #f0c14b;
  color: #111;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  height: 40px;
  width: 250px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
}


.placeOrderText{
  font-size: 14px;
  margin-top: 0;
}

.orderSummaryHorizontal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  
  width: 250px;
  height: 35px;
}

.orderTotal {
  font-weight:500;
  margin-bottom: -10px;
  color: #B52B00;
}

.agreeText {
  color: #666;
}

.cartItem img {
  width: 90px;
  height: 90px;
}

.productImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
  padding: 20px;
  row-gap: 15px;
  column-gap: 13px;
  margin-left: -20px;
}

.productImage {
  width: 102px;
  height: 102px;
  object-fit: contain;
  border: 1px solid #2E0052;
  cursor: pointer;
  border-radius: 10px;
}

.username{
  color:#797979 ;
}

.deliveryAddress {
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: flex-start; /* Align items to start */
  margin-bottom: 2rem;
}

.deliveryInputContainer {
  display: flex;
  align-items: center;
  margin-left: 0rem;
  padding: 0rem;
  width: 90%;
  margin-top: 10px;
}

.deliveryInput {
  border: none;
  width: 100%; /* Make input full width */
  height: 50px;
  color:#797979;
}
select {
  border: 1px solid ;
  border-color: #919191;
  padding: 0.5rem;
  font-size: 1rem;
  color: #797979;
  margin-bottom: 1rem;
  width: 100%; /* Make select full width */
  height: 50px;
  margin-top: 10px;
  
}


.estimatedDelivery {
  margin-bottom: 2rem;
}

.selectedProductDetails {
  margin-top: -50px;
  padding: 10px;
  margin-left: -10px;
}

.selectedProductDetails h4 {
  margin-bottom: 0px;
}

.selectedProductDetails p {
  margin-bottom: 0;
}

.deliveryColor{
  color: #797979;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: column; /* Change to column layout */
  margin-bottom: 1rem;
}

.column {
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  flex: 1;
  padding: 0 0rem;
  width:200px;
}

.col1 {
  color: #B52B00;
  font-size: 20px;
  width:500px
}

.line {
  height: 1px;
  background-color: #ccc;
  margin: 0.5rem 0;
  margin-left: -20px;
  width: 800px;
  color: #E1E1E1;
}

.flexContainer {
  margin-right: 0px;
}

.footerContent {
  margin: 0 auto;
  font-size: 22px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.footer {
  background-color: #2e0052;
  color: white;
  display: flex;
  align-items: center;
  height: 67px;
  width: 100%;
}


 /*-----------------------------------------------------BOTTOM MENU BAR----------------------------------BEGINS--------------------------*/
 .bottomMenu {
  background-color: white;
  display: flex;
  justify-content:space-between;
  position: fixed;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 0px;
  bottom: 0;
  width: 96%;
  z-index: 1000; /* Ensure it's above other content */
  border-top: #666666 solid 0.5px;
  border-bottom: white solid 5px;
}

.mbmenuItem {
  display: flex;
  align-items: center;
}

.menuIcon {
  width: 24px; /* Adjust icon size */
  margin-right: 1px;
}

.menuItem img {
  width: 30px;
  margin-right: 10px;
}

.mblogoutbutton{
border:none;
color:white;
background-color: white;
}
  /*-----------------------------------------------------BOTTOM MENU BAR------------------------------------ENDS------------------------*/





@media only screen and (max-width: 768px) {
  .menubar {
      padding: 10px;
      flex-direction: column;
      align-items: center;
  }

  .menubar .leftSection img {
      width: 120px;
      margin: 10px 0;
  }

  .menuItem {
      margin: 5px 0;
  }

  .checkoutSections {
      flex-direction: column;
  }

  .leftColumn {
    flex: 1; /* Take up all available space */
    max-width: 100vw; /* Set max-width to width of mobile viewport */
    margin-right: 0; /* Remove right margin */
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: flex-start; /* Align items to start */
  }
  
  .rightColumn {
    flex: 1; /* Take up all available space */
    max-width: 100vw; /* Set max-width to width of mobile viewport */
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center; /* Align items to center */
  }
  
  .orderSummaryBox {
      width: 100%;
      margin: 10px 0;
  }

 
}
