body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff; /* Set the background color of the entire page to white */

}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  background-color: white;
  min-height: 100vh;
}
.home {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px; 
}

.logo{
margin-left: 165px;
width: 150px;
margin-top: 0px;
margin-bottom: 100px;
padding-top: 30px;
}
.lineContainer{
  margin-top: -50px;
}
.inputLabel {
  margin-bottom: 5px; /* Reduce the margin between input labels */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  
  }
.noAccountText{
  font-size: 12.5px;
font-family: "Roboto", sans-serif;
font-weight: 400;
}


.groups,
.btnBlock1 {
  margin: 0 auto; /* Center horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.groups {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  width: 78%;
  margin-top: -40px; /* Adjust margin as needed */
  border: 2px solid #D9D9D9; /* Add border style */
  padding: 10px; /* Add padding for spacing inside the border */
  border-radius: 15px;
  margin-left: 40px;
  margin-bottom: 0px;

}
.btnBlock1{
  width: 82%; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  background-color: #ffffff; /* Set background color */
  color: white; /* Set text color */
  border: 2px solid #D9D9D9; /* Add border style */
  border-radius: 8px; /* Add border radius for rounded corners */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s; /* Add smooth transition */
  margin-left: 40px;
  color:black;
margin-top: 20px;
font-family: "Roboto", sans-serif;
font-weight: 400;
margin-bottom: 100px;
}
.newToMusicartContainer {
  position: relative; /* Required for absolute positioning of pseudo-elements */
  text-align: center; /* Center text horizontally */
  
}

.input-container {
  width: 100%; /* Adjust width as needed */
  margin-bottom: -100px; /* Add margin bottom for spacing */
}
.heading{
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  margin-top: 10px;
  font-weight: 400;

}
.input {
  width: 100%; /* Adjust width as needed */
  height: 35.5px; /* Adjust height as needed */
  padding: 10px; /* Add padding for spacing inside the input */
  font-size: 18px; /* Adjust font size as needed */
  border-radius: 5px; /* Add border radius for rounded corners */
  border: 2px solid #ccc; /* Add border style */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  font-family: "Roboto", sans-serif;

}

/* login.module.css */

.btnBlock {
  width: 100%; /* Adjust width as needed */
  height: 35px; /* Adjust height as needed */
  background-color: #2e0052; /* Set background color */
  color: white; /* Set text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius for rounded corners */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s; /* Add smooth transition */
  margin-top: 20px;
}

.btnBlock:hover {
  background-color: #2e0052; /* Change background color on hover */
}

.lineContainer {
  display: flex;
  align-items: center;
  margin-top: 0px; /* Adjust as needed */
  margin-left: 30px;
  margin-bottom: 0px;
  padding-top: 20px;

}

.lineImage1 {
  width: 135px; /* Adjust the width of the line image */
  height: 2px; /* Maintain aspect ratio */
  margin: 0 10px; /* Adjust the margin around the line image */
}

.newToMusicart {
  font-size: 13px; /* Adjust as needed */
  font-weight: bold; /* Adjust as needed */
  font-family: "Roboto", sans-serif;
  padding: 0 10px; /* Add padding around the text */
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.Link1
{  text-decoration: none;
}


.footerContent {
  margin: 0 auto; /* Center horizontally */
  font-size: 22px;
font-weight: 400;
font-family: "Roboto", sans-serif; /* Use font-family property */

}
.footer {
  position: fixed; /* Fixed positioning */
  bottom: 0; /* Align to the bottom of the viewport */
  left: 0; /* Align to the left of the viewport */
  background-color: #2e0052;
  color: white; /* Set text color to white */
  display: flex;
  align-items: center; /* Center vertically */
  height: 60px; /* Adjust height as needed */
  width: 100%; /* Ensure footer spans entire viewport width */

}
/* Define styles for desktop view */
@media (min-width: 1024px) {
  .headingmob {
    display: none; /* Hide the heading in desktop view */
  }

  .alreadyCustomerText {
    display: none; /* Hide the already customer text in desktop view */
  }
}

/* For smaller screens */
@media only screen and (max-width: 768px) {
  /* Update body */
  body {
      padding: 10px;
  }
  
  /* Update .main-container */
  .main-container {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
  }
  
  /* Update .logo */
  .logo {
      margin-left: 0;
      margin-top: 0;
      width: 60%; /* Adjust width for smaller screens */
  }
  
  /* Update .inputLabel */
  .inputLabel {
      font-size: 14px; /* Adjust font size for smaller screens */
  }
  
  /* Update .noAccountText */
  .noAccountText {
      font-size: 14px; /* Adjust font size for smaller screens */
      font-weight: 400;
      font-family: "Roboto", sans-serif;
    }
  
  .headingmob{
font-family: sans-serif ;
font-size: 50px;
margin-bottom: 50px;
font-style: normal;
font-weight: normal;
color: #2e0052;
  }
  .alreadyCustomerText{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
  }
  /* Update .groups */
  .groups {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
  }
  
  /* Update .input-container */
  .input-container {
      margin-bottom: 20px; /* Adjust margin bottom for smaller screens */
  }
  
  .heading {
      font-size: 24px; /* Adjust font size for smaller screens */
      margin-top: 20px; /* Adjust margin top for smaller screens */
      font-weight: 400;
  }
  
  /* Update .input */
  .input {
      font-size: 16px; /* Adjust font size for smaller screens */
      height: 30px; /* Adjust height for smaller screens */
  }
  
  /* Update .btnBlock */
  .btnBlock {
      font-size: 16px; /* Adjust font size for smaller screens */
      margin-top: 20px; /* Adjust margin top for smaller screens */
  }
  
  /* Update .btnBlock1 */
  .btnBlock1 {
      width: 95%; /* Adjust width for smaller screens */
      font-size: 16px; /* Adjust font size for smaller screens */
      margin-top: 20px; /* Adjust margin top for smaller screens */
      margin-left: 10px;

    }
  
  /* Update .lineContainer */
  .lineContainer {
      margin-left: 0; /* Adjust margin left for smaller screens */
  }
  
  /* Update .footerContent */
  .footerContent {
      font-size: 16px; /* Adjust font size for smaller screens */
      margin-left: 100px; /* Adjust margin left for smaller screens */
  }
}

