/* OrderConfirmation.module.css */
.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #FFFFFF;
}
.centerContent {
  display: grid;
  place-items: center;
}
.menuItem img {
  width: 170px;
  margin-right: 10px;
}
.logoContainer {
  margin-bottom: 0px; /* Add margin at the bottom */
  margin-top: 40px;
  margin-left: -900px;
  margin-right: 400px;
}

.logo {
  width: 150px; /* Adjust the width of the logo */
  height: auto; /* Maintain aspect ratio */
}
.innerEmail{
  margin-top: -10px;
  color: #969696;

}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: 2px solid black; /* Add a border */
  padding: 20px; /* Add padding to the container */
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif; /* Use font-family property */

}
.outerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left side) */
  padding: 20px; /* Add padding for spacing */
}

.img{
  width: 20%; /* Set maximum width for the image */
height: auto; /* Maintain aspect ratio */
display: flex; /* Use flexbox */
flex-direction: column; /* Arrange items vertically */
align-items: center; /* Center items horizontally */
}
.innerContainer {
  border: 2px solid #E3E3E3
  ; /* Add a border to the inner container */
  padding: 20px; /* Add padding to the inner container */
  width: 600px; /* Set maximum width for the inner container */
  justify-content: center;
  height: 320px;
  margin-left: 490px;
  margin-top: 20px;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange items vertically */
 align-items: center; /* Center items horizontally */
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */

}
/* OrderConfirmation.module.css */
.leftSection {
  align-self: flex-start;
}
/* Other styles remain the same */
.menuItem img {
width: 100px; /* Adjust the width of the logo */
height: auto; /* Maintain aspect ratio */
margin-left: -100px;
margin-top: -800px;
}

.footer {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
background-color: #2e0052;
color: white;
display: flex;
align-items: center;
height: 60px;
}
.button {
background-color:  #2e0052;
; /* Blue background color */
color: white; /* White text color */
border: none; /* No border */
padding: 10px 20px; /* Add padding */
font-size: 15px; /* Font size */
cursor: pointer; /* Cursor style */
border-radius: 10px; /* Rounded corners */
margin-top: 20px; /* Add some top margin */
width: 300px;
}

/* Style for the button on hover */
.button:hover {
background-color: #0056b3; /* Darker blue background color */
}

.footerContent {
margin: 0 auto;
font-size: 23px;
font-weight: 500;
}
